html,
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
}
ul {
	  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
li {
	float: left;
}
li a {
	  display: block;
  color: rgba(192,192,192,0.8);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
	  background-color: #111;
}
.mainTitle {
	position: absolute;
	top: 250px;
	left: 0;
	width: 100%;
}

.hero-title {
	background: rgba(0, 0, 0, .2);
	padding: 15px 15px 15px 40px;
}

.hero-title::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.text-wraper {
	z-index: 700;
	color: #fff;
	width: 100%;
}

.titleNumber1 {
	font-size: 58px;
	font-weight: 700;
	letter-spacing: -1pt;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
}

.titleNumber2 {
	font-size: 34px;
	font-weight: 300;
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
}

/* Style all font awesome icons */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
	background: #3B5998;
	color: white;
}

/* Twitter */
.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-linkedin {
	background: #007bb5;
	color: white;
}
main {
	  color: rgba(192,192,192,0.8);

}
